body{
    background-color: bisque;
    margin: 25px;
}

h1, strong{
    color: red;
}

em {
    color: blue;
}

table{
    background-color: dimgrey;
    color: white;
    border-color: black;
    font-family: sans-serif;
}

li{
    font-weight: bold;
    font-style: italic;
}